<div class="item">
    <div>Nome</div>
    <div>
        <input type="text" name="name" class="form-control" required="required" value="{{ chef.name }}">
    </div>
</div>

<div class="item">
    <div>Avatar</div>

    <div id="images-preview">
        <div id="images-upload">
            <input 
                id="images-input" type="file" name="images" single accept="image/*" 
                onchange="ImagesUpload.handleFileInput(event, 1)"
            >
            
            <div class="images-add">
                <i class="fas fa-plus"></i>
            </div>
        </div>

        {% if files %}
            {% for image in files %}
                <div class="image" id="{{ image.file_id }}">
                    <img src="{{ image.src }}" alt="{{ file.name }}">
                    <i class="fas fa-times" onclick="ImagesUpload.removeOldImage(event)"></i>
                </div>
            {% endfor %}
            
            <input type="hidden" name="removed_files">
        {% endif %}
    </div>
</div>