.messages {
    max-width: 344px;
    min-height: 135px;
    border-radius: 4px;
    margin: 12px 18px;
    padding: 16px;
    opacity: 1;
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    animation: hidemessage 400ms 5s ease-in-out forwards;
}
  
.messages.error {
    background-color: #DC4747;
    color: #fff;
}
  
.messages.success {
    background-color: rgb(28, 184, 36);
    color: #fff;
}
  
@keyframes hidemessage {
    to {
        top: -250px;
        opacity: 0;
    }
}