<header class="admin">
    <div class="container">
        <a href="/admin/users/" class="logo">
            <img src="/assets/white.png">
        </a>

        <nav class="menu">
            <a href="/admin/profile"><i class="fas fa-user-circle"></i> Minha conta</a>
            <a href="/admin/recipes/"><i class="fas fa-pizza-slice"></i> Receitas</a>
            <a href="/admin/chefs/"><i class="fas fa-utensils"></i> Chefs</a>
            <a href="/admin/users/"><i class="fas fa-user-friends"></i> Usuários</a>
        </nav>

        <div>
            <form action="/admin/logout" method="POST">
                <button class="logout">Sair</button>
            </form>
        </div>
    </div>
</header>