.index {
    margin-top: 50px;
}

.user .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 6px;
}

.users .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
