{% macro chefs(chefs) %}

    <section class="chefs">
        {% for chef in chefs %}
            <div class="chef">
                <a href="/chefs/show/{{ chef.id }}">
                    <div class="img">
                        <img src="{{ chef.img }}">
                    </div>
                </a>

                <div class="content">
                    <div class="title">{{ chef.name }}</div>
                    <div class="total">
                        {% if chef.total_recipes == 1 %}
                        <p>{{ chef.total_recipes }} receita</p>
                        
                        {% else %}
                        <p>{{ chef.total_recipes }} receitas</p>
                        {% endif %}
                    </div>
                </div>
            </div> 
        {% endfor %}
    </section>

{% endmacro %}