<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foodfy</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/home/index.css">
        <link rel="stylesheet" href="/css/global/messages.css">

        <!-- Icon -->
        <script src="https://kit.fontawesome.com/e5d24fbbf1.js" crossorigin="anonymous"></script>
    </head>

    <body>
        {% include "home/parts/messages.njk" %}
        
        <section class="container">
            <div class="not-found">
                <img src="/assets/chef.png">
                <h2>Não encontramos o que você procurava... <span><i class="fas fa-heart-broken"></i></span></h2>
                <p>Que tal voltar e se deliciar com alguma receita que existe?</p>
                <a href="/" class="button">Clique aqui!</a>
            </div>
        </section>
    </body>
</html>